services:
  mariadb:
    image: mariadb:10.5
    environment:
      - MARIADB_DATABASE=aura
      - MARIADB_ROOT_PASSWORD=password
      - MARIADB_MYSQL_LOCALHOST_USER=true
    ports:
      - 3306:3306
    tmpfs:
      - /var/lib/mysql

  mysql-8.4:
    image: mysql:8.4
    environment:
      - MYSQL_DATABASE=aura
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3306:3306
    tmpfs:
      - /var/lib/mysql

  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=aura
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    tmpfs:
      - /var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    tmpfs:
      - /data

